{% extends "base.html" %}
{% block content %}
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Add Mark Type</h5>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-secondary" type="submit" value="Save">
        </form>
    </div>
</div><br>
<br>
<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title">Mark Types</h5>
        {% for mark in marks %}
        <table class="table">
            <tr>
                <td>
                    <p> mark-name : {{ mark.name}}
                </td>
                <td>
                    <a href="{% url 'edit_mark_type' mark.id%}">
                        <button type="button" class="btn btn-primary ">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_mark_type' mark.id%}">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>
        </table>


        {% endfor %}
    </div>
</div>
{% endblock %}